*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #3D087B;
}
.container{
    /* width: 100%; */
    /* height: 800px; */
    display: flex;
    margin: 25px;
    /* margin-left: 50px; */
    justify-content: center;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    flex-wrap: wrap;
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
}
.item{
    /* width: 50%; */
    margin: 5px;
}
#box1{
    width: 213px;
    /* height: 88px;
    border: 2px solid red; */
    /* background-color: darkblue; */
}
#box2{
    width: 500px;
    /* width: 90%; */
    height: 275px;
    background-color: white;
    padding: 15px;
    border: 1px solid white;
    border-radius: 7px;
}
#image{
    position: relative;
    top: 8px;
}
.purple{
    color: #3D087B;
}
.dropdown{
    width: 287px;
    padding: 5px;
    color: #3D087B;
}
#wakeup{
    padding-left: 5px;
}
#lunch{
    padding-left: 5px;
}
#nap{
    padding-left: 7px;
}
#night{
    padding-left: 6px;
}
#box3{
    width: 500px;
    height: 60px;
    color: white;
    background-color: rgba(200, 200, 211, 0.255);
    padding-top: 15px;
    padding-left: 15px;
    font-size: x-large;
    font-weight: bolder;
    border: 1px solid rgba(200, 200, 211, 0.255);
    border-radius: 7px;
}
.bottom{
    display: flex;
}
#box4{
    font-size: 21px;
    width: 245px;
    height: 42px;
    background-color: white;
    padding-top: 8px;
    padding-left: 81px;
    margin-right: 8px;
    border: 1px solid;
    color: white;
    border-radius: 7px;
    background-image: linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%);
}
#box5{
    width: 247px;
    height: 110px;
    background-color: rgba(200, 200, 211, 0.255);
    margin-right: 5px;
    padding: 10px;
    line-height: 22px;
    word-spacing: 7px;
    color: #F25CFE;
    border: 1px solid rgba(200, 200, 211, 0.255);
    border-radius: 7px;
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 613px;

}
#box6{
    width: 500px;
    height: 97px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 10px;
    border: 1px solid white;
    border-radius: 7px;
}
.points{
    font-size: xxx-large;
    color: #3D087B;
    /* margin-top: 3px */
}
.b{
    width: 450px;
    height: 30px;
    background-color: white;
    opacity: 0.8;
    margin-left: 29px;
    margin-top: -29px;
    border-radius: 6px;
}
.c{
    width: 422px;
    height: 37px;
    background-color: white;
    opacity: 0.2;
    margin-left: 43px;
    margin-top: -45px;
    border-radius: 6px;
}
.am{
    font-size: 32px;
    padding-left: 11px;
}
.pm{
    font-size: 21px;
    padding-left: 6px;
}
#sachin{
    background-color: white;
    padding-left: 5px;
    padding-top: 25px;
    color: #3D087B;
    font-weight: bold
}
#sachin2{
    background-image: url(./AM_svg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 25px;
    padding-top: 18px;
    padding-left: 10px;
    color: white;
}
.time{
    height: 70px;
    width: 60px;
    margin: 5px;
    color: #8A11BF;
    background-color: #F6E2FF;
}
#box7{
    width: 500px;
    height: 85px;
    color: #8E53F0;
    background-color: white;
    padding-top: 27px;
    padding-left: 27px;
    font-size: x-large;
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 7px;
}
#box8{
    height: 315px;
    width: 500px;
    background-image: url(./feelgood.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
}

@media screen and (max-width: 750px) {
    .container{
        /* flex-wrap: wrap-reverse; */
        flex-direction: column;
    }
}

